.pageTwoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  .wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
}

.businessColumn {
  width: 30%;
}

.FormWrapper {
  background-image: url("../../../../src/assets/images/girl.jpeg");
  width: 45%;
  height: 680px;
}

.input {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
  border: 0.9px solid #777;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none !important;
  list-style-type: none;
  padding-block: 1px;
  padding-inline: 2px;

  text-transform: none;
  text-indent: 18px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;

  &:focus-visible {
    border: 1px solid blue;
  }
}

.nameAddress {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.form {
  padding-top: 40px;
}

.submitButton {
  display: block;
  background-color: #ff402d;
  color: #fff;
  font-size: 1rem;
  border: 2px solid transparent;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  padding: 0.75rem 2rem;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  margin: 0.75rem 0;
}

.nameError,
.emailError,
.phoneError {
  border: 1px solid red;
}

.inputWithError {
  min-height: 75px;
}
